

.signup_page {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
   
    
}

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Gap between form elements */
    background-color: #8d8888; /* Form background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(14, 5, 5, 0.1); /* Box shadow for a subtle effect */
  }
  
  h2 {
    color: #333333; /* Heading color */
  }
  
  label {
    font-size: 20px;
    color: #555555; /* Label color */
    
  }
  
  input {
    width: 90%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #d6c8c8; /* Input border color */
    border-radius: 5px;
  }
  
  p {
    color: #ff0000; /* Error message color */
    margin: 5px 0;
  }
  
  .signUp {
    background-color: rgb(80, 80, 191); /* Sign Up button background color */
    color: #ffffff; /* Sign Up button text color */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .signUp:hover {
    background-color: rgb(10, 10, 49); /* Darker color on hover */
    transform: scale(1.1);
}
  .emailid{
    width: 100%;
  }

  
